@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Quicksand:wght@600&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background: #000;
}
.nameHeader{
    width: 50%;
    height: 5vw;
    margin: auto;
    text-align: center;
}
#nameText{
    color: #fff;
    font-size: 3vw;
}